.collectDialog {
  position: fixed;
  top: 250px;
  right: 20px;
  font-size: 12px;
  width: 450px;
  display: flex;
  justify-content: flex-end;
}

.collectDialog-left {
  background: #FFFFFF;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid;
}

#collectDialog-button {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 28px;
  background: #5A72DB;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 12px;

  position: relative;
  z-index: 1;
  box-shadow: 0 2px #00000004;
  transition: .3s;
  
}

#collectDialog-button:hover{
  background: #4096ff;
}

#collectDialog-button::after{
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  background: #4096ff;
  opacity: 0;
  box-shadow: 0 0 0 8px #5A72DB;
  transition: .3s;
  
}

#collectDialog-button:active::after{
  z-index: -1;
  background: #5A72DB;
  opacity: 0.5;
  box-shadow: none;
  transition: 0s;
}