.momo-collect-float {
  position: fixed;
  top: 250px;
  right: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 228px;
  z-index: 9999;
}

.momo-hidden {
  display: none;
}

.momo-disabled {
  filter: grayscale(0.7);
}

.momo-collect-float .momo-collect-float-content {
  height: 0;
  margin-bottom: 12px;
  width: 60px;
  overflow-y: hidden;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.04), 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
  transition: height 0.4s linear;
}

.momo-collect-float .momo-unfold-content {
  height: 216px;
}

.momo-collect-float #momo-id-fold-float {
  height: 50px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  border-radius: 12px;
}

.momo-collect-float .momo-unfold {
  background-color: #fff !important;
}


.momo-collect-float #momo-id-open-warehouse, .momo-collect-float #momo-id-open-collect {
  cursor: pointer;
  position: relative;
}

.momo-collect-tip {
  position: fixed;
  top: 365px;
  right: 90px;
  padding: 6px 6px 6px 12px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.10);
  font-size: 12px;
  color: #111827;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.momo-collect-tip .icon-arrow {
  position: absolute;
  right: -8px;
}

.momo-collect-tip .icon-close {
  position: absolute;
  left: -19px;
  top: -19px;
  cursor: pointer;
}


.momo-single-collect-tip-show,
.momo-batch-collect-tip-1-show,
.momo-batch-collect-tip-2-show {
  opacity: 1;
  z-index: 1;
}

.momo-single-collect-tip-hidden,
.momo-batch-collect-tip-1-hidden,
.momo-batch-collect-tip-2-hidden {
  opacity: 0;
  z-index: -1;
}


.momo-button {
  margin: 0;
  padding: 0;
  display: flex;
  height: 40px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  flex-shrink: 0;
  user-select: none;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px #00000004;
  transition: .3s;
}

.momo-button-disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.momo-button::after{
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  transition: .3s;
}

.momo-button:active::after{
  z-index: -1;
  opacity: 0.5;
  box-shadow: none;
  transition: 0s;
}

.momo-button-color-1 {
  background: #5A72DB;
}

.momo-button-color-1:hover{
  background: #4096ff;
}

.momo-button-color-1::after {
  background: #4096ff;
  box-shadow: 0 0 0 8px #5A72DB;
}

.momo-button-color-1:active::after {
  background: #5A72DB;
}

.momo-button-color-2 {
  background: #5E6999;
}

.momo-button-color-2:hover{
  background: #707db5;
}

.momo-button-color-2::after {
  background: #707db5;
  box-shadow: 0 0 0 8px #5E6999;
}

.momo-button-color-2:active::after {
  background: #5E6999;
}

.momo-button-color-3 {
  background: #F5F5F5;
}

.momo-button-color-3:hover{
  background: #edecec;
}

.momo-button-color-3::after {
  background: #edecec;
  box-shadow: 0 0 0 8px #F5F5F5;
}

.momo-button-color-3:active::after {
  background: #F5F5F5;
}

.momo-dialog {
  border: 0;
  padding: 0;
  border-radius: 8px;
  font-size: 14px;
}

.momo-dialog .momo-dialog-close {
  border: 0;
  outline: 0;
  background: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.momo-dialog .momo-dialog-head {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  padding: 16px 16px 16px 24px;
  justify-content: space-between;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid #F3F4F6;
}

.momo-dialog .momo-dialog-bottom {
  display: flex;
  height: 64px;
  padding: 0px 24px;
  justify-content: flex-end;
}

.momo-table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.momo-table .momo-table-thead {
  padding: 0 24px;
}

.momo-table .momo-table-tbody {
  flex: 1;
  overflow: auto;
  padding: 0 24px;
}

.momo-table .momo-table-tbody::-webkit-scrollbar {
  width: 5px;
}

.momo-table .momo-table-tbody::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f3f4f6;
}

.momo-table .momo-table-tr {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #E2E6EA;
}

.momo-table .momo-table-thead .momo-table-tr {
  background: #F3F4F6;
  height: 40px;
  line-height: 40px; 
}

.momo-table .momo-table-tbody .momo-table-tr {
  height: 56px;
  line-height: 56px;
}

.momo-table .momo-table-cell {
  padding: 0 16px;
  font-size: 14px;
  color: #343A40;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.momo-table .momo-table-cell:first-child {
  display: flex;
  align-items: center;
}

.momo-checkbox, .momo-all-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}

.momo-checkbox[type="checkbox"]:checked::before, .momo-all-checkbox[type="checkbox"]:checked::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20"><path d="M1.6665 4.99984C1.6665 3.15889 3.15889 1.6665 4.99984 1.6665H14.9998C16.8408 1.6665 18.3332 3.15889 18.3332 4.99984V14.9998C18.3332 16.8408 16.8408 18.3332 14.9998 18.3332H4.99984C3.15889 18.3332 1.6665 16.8408 1.6665 14.9998V4.99984Z" fill="%235E6999"/><path d="M14.1739 7.19291C13.7989 6.77625 13.1739 6.77625 12.7572 7.15125L9.25722 10.3596L7.50722 8.81791C7.13222 8.48458 6.59055 8.48458 6.17389 8.81791C5.75722 9.19291 5.71555 9.81791 6.09055 10.2346L8.42389 12.9012C8.46555 12.9429 8.46555 12.9846 8.50722 12.9846C8.96555 13.4012 9.71555 13.4012 10.1739 12.9012L10.2156 12.8596L14.2156 8.52625C14.5072 8.19291 14.5072 7.60958 14.1739 7.19291Z" fill="%23ffffff"/></svg>');
  background-repeat: no-repeat;
  left: -2px;
  top: -2px;
}

.momo-all-checkbox-noCheckedAll::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.00002 1.66663H15C16.841 1.66663 18.3334 3.15901 18.3334 4.99996V15C18.3334 16.8409 16.841 18.3333 15 18.3333H5.00002C3.15907 18.3333 1.66669 16.8409 1.66669 15V4.99996C1.66669 3.15901 3.15907 1.66663 5.00002 1.66663ZM6.75 8.75C6.05964 8.75 5.5 9.30964 5.5 10C5.5 10.6904 6.05964 11.25 6.75 11.25H13.25C13.9404 11.25 14.5 10.6904 14.5 10C14.5 9.30964 13.9404 8.75 13.25 8.75H6.75Z" fill="%235E6999"/></svg>');
  background-repeat: no-repeat;
  left: -2px;
  top: -2px;
}


  